[Unit]
Description=Snort for TSN2
After=network.target

[Service]
ExecStartPre=-mkdir /var/log/snort
ExecStartPre=-tc qdisc add dev tsn2 ingress
ExecStart=/usr/bin/snort --daq-dir /usr/lib/daq/ -Q -c /etc/snort/snort.conf -i tsn2:rmon2

[Install]
WantedBy=multi-user.target
