[Unit]
Description=Snort for TSN1
After=network.target

[Service]
ExecStartPre=-mkdir /var/log/snort
ExecStartPre=-tc qdisc add dev tsn1 ingress
ExecStart=/usr/bin/snort --daq-dir /usr/lib/daq/ -Q -c /etc/snort/snort.conf -i tsn1:rmon1

[Install]
WantedBy=multi-user.target
