# =====================================================================
# DomU virtual devices
# =====================================================================

disk = [ 'backend=DomD, phy:/dev/STORAGE_PART3, xvda1' ]

# We use predefined MAC addresses for domains:
#  08:00:27:ff:cb:cd - domF
#  08:00:27:ff:cb:ce - domA
#  08:00:27:ff:cb:cf - domU
vif = [ 'backend=DomD, bridge=xenbr0, mac=08:00:27:ff:cb:cf' ]

renesas_vmq = [ 'backend=DomD, type=tsn, if_num=1, osid=1' ]

# Uncomment this if you need to create virtual VMQ-based network
# between DomD and DomU
# renesas_vmq = [ 'backend=DomD, type=vmq, if_num=0, osid=1' ]
