# =====================================================================
# DomD guest configuration
# =====================================================================

seclabel='system_u:system_r:domU_t'

# Uncomment the next two lines to pass PCI device to DomU

# vpci="ecam"
# pci=["01:00.2,seize=1"]

# Guest name
name = "DomU"

# Kernel image to boot
kernel = "/usr/lib/xen/boot/linux-domu"

device_tree = "/usr/lib/xen/boot/domu.dtb"

extra = "root=/dev/xvda1 rw rootwait console=hvc0 pci=pcie_bus_perf"

# Initial memory allocation (MB)
memory = 512

# Number of VCPUS
vcpus = 2

# Uncomment this lines and add "/pmu_a76" node to
# dt_passthrough_nodes to enable PMU feature. 
# NOTE: this feature is not security supported:
# see https://xenbits.xen.org/xsa/advisory-163.html.
# It's not recommended to use it for production builds
# but it may be used for development or debugging.
# cpus = ["4", "5"]
# vpmu = 1

tee = "optee"

on_crash = 'preserve'

dt_passthrough_nodes = [
    "/regulator-vcc-sdhi",
    "/reserved-memory",
]

dtdev = ["/soc/rswitch_osid1"]

irqs = [
# iccom08
    368,
# iccom09
    370,
# iccom010
    372,
# iccom011
    374,
# iccom012
    376,
# iccom013
    378,
# iccom014
    380,
# iccom015
    382,
]

iomem = [
#iccom08
#iccom09
#iccom11
#iccom12
#iccom13
#iccom14
#iccom15
#iccom16
    "e6260,10",
#iccom shared memory (CTA) - G4MH
    "47fc9,2@37fc9",
]
