# =====================================================================
# DomD guest configuration
# =====================================================================

seclabel='system_u:system_r:domU_t'

# Uncomment the next two lines to pass PCI device to DomU

vpci="ecam"
pci=["01:00.0,seize=1"]

# Guest name
name = "DomU"

# Kernel image to boot
kernel = "/usr/lib/xen/boot/linux-domu"

device_tree = "/usr/lib/xen/boot/domu.dtb"

extra = "root=/dev/xvda1 rw rootwait console=hvc0 pci=pcie_bus_perf clk_ignore_unused"

# Initial memory allocation (MB)
memory = 512

# Number of VCPUS
vcpus = 2

# Uncomment this lines and add "/pmu_a76" node to
# dt_passthrough_nodes to enable PMU feature. 
# NOTE: this feature is not security supported:
# see https://xenbits.xen.org/xsa/advisory-163.html.
# It's not recommended to use it for production builds
# but it may be used for development or debugging.
# cpus = ["4", "5"]
# vpmu = 1

on_crash = 'preserve'

dt_compatible = [ "renesas,whitehawk-cpu", "renesas,r8a779g0" ]

dt_passthrough_nodes = [
]

dtdev = [
]

irqs = [
]

iomem = [
#chipid@fff00044                               
    "fff00,1",   
    "e60a0,1",
]
# =====================================================================
# DomU virtual devices
# =====================================================================

# See additional comment above line 'extra = ' in machine dependent config.
# In case boot from network - comment out 'disk' AND use line with 'root=/dev/nfs' in machine dependent config.
# In case boot from block device - uncomment 'disk' AND use line with 'root=/dev/xvda1' (or 'root=/dev/vda') in machine dependent config.
disk = [ 'backend=DomD, phy:/dev/mmcblk0p3, xvda1' ]

# We use predefined MAC addresses for domains:
#  08:00:27:ff:cb:cd - domF
#  08:00:27:ff:cb:ce - domA
#  08:00:27:ff:cb:cf - domU
#vif = [ 'backend=DomD, bridge=xenbr0, mac=08:00:27:ff:cb:cf' ]

#renesas_vmq = [ 'backend=DomD, type=tsn, if_num=1, osid=1' ]

# Uncomment this if you need to create virtual VMQ-based network
# between DomD and DomU
# renesas_vmq = [ 'backend=DomD, type=vmq, if_num=0, osid=1' ]
